@font-face {
    font-family: "giants";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/giants/giants-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/giants/giants-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/giants/giants-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/giants/giants-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/giants/giants-Regular.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "giants";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/giants/giants-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/giants/giants-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/giants/giants-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/giants/giants-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/giants/giants-Bold.ttf") format("truetype");
    font-display: swap;
} 
.giants {
    font-family: "giants";
}
.giants400 {
    font-family: "giants";
    font-weight: 400;
}
.giants700 {
    font-family: "giants";
    font-weight: 700;
}